.product {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid #c3bdbd;
    border-radius: 10px;
    margin: 10px;
    flex: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.prod-image {
    width: 250px;
    height: 250px;
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.prod-title {
    font-size: 18px;
    color: #373737;
    text-wrap: wrap;
    padding: 5px 0;
    text-align: center;
}

.prod-price {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 5px;
}

.btn {
    padding: 7px 10px;
    font-size: 16px;
    background: #159d15;
    color: #FFF;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;

    &:hover {
        background: #178717;
    }

    &-danger {
        background-color: #e12335;

        &:hover {
            background-color: #b30415;
        }
    }
}